<div>
    <aside class="aside section mb-4">
      <div class="card shadow-sm rounded">
        <div class="content pt-2 ps-4 pe-4 pb-2">
          <div class="item text-center">
            <img class="profile-image img-fluid rounded-circle mb-2 shadow-sm" [src]="aboutMeList[0].profilePhoto" width="180" height="180">
            <h4>{{ aboutMeList[0].fullname }}</h4>
            <h6>{{ aboutMeList[0].profession }}</h6>
          </div>
        </div>
      </div>
    </aside>
    <!--About me-->
    <aside class="aside section mb-4">
      <div class="card shadow-sm rounded">
        <div class="content p-4">
          <div class="mb-3" style="border-bottom: 2px solid black;">
            <h4>Sobre mí</h4>
          </div>
          <div class="info-container">
            <div class="info-title" id="presentacion">
              <h4 class="title">Presentación</h4>
              <p>{{ aboutMeList[0].presentation }}</p>
            </div>
            <app-study></app-study>
            <app-knowledge></app-knowledge>
            <app-experience></app-experience>
            <div class="info-title" id="ingles">
              <h4 class="title">Nivel de inglés</h4>
              <p>Upper Intermediate (B2)</p>
              <a href="https://efset.org/cert/323PqJ" target="_blank"><button class="btn btn-credential mt-1">Credencial</button></a>
            </div>
            <app-contact></app-contact>
          </div>
        </div>
      </div>
    </aside>
</div>