<div class="container mt-5" *ngIf="authenticated else elseBlock">
  <button class="btn btn-primary" routerLink="/home">Volver al inicio</button>
  <button class="btn btn-secondary" (click)="logoutUser()">Logout</button>
    <div class="row">
        <!--Left side-->
      <div class="left col-lg-4 col-12">
        <aside class="aside section mb-4">
          <div class="card shadow-sm rounded">
            <div class="content p-4">
                <!--Left side-->
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/backoffice/projects">
                        Projects
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/backoffice/extra-projects">
                      Extra Projects
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/backoffice/studies">
                        Studies
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/backoffice/knowledges">
                      Knowledges
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/backoffice/experiences">
                      Experiences
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/backoffice/contacts">
                      Contacts
                    </button>
                </div>
            </div>
          </div>
        </aside>
      </div>
    </div>

    <router-outlet></router-outlet>
</div>
<ng-template #elseBlock>You need to be logged in to enter this page</ng-template>