<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Pedro Julian Palavecino - Desarrollador Front-End" />
        <meta property="og:description" content="Aquí puedes ver algunos de los proyectos en los que trabajo." />
        <meta property="og:image" content="https://julian-palavecino.netlify.app/images/portfolio.png" />
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <title>Pedro Julian Palavecino - Desarrollador Front-End</title>
    </head>
    <body>
        <section class="h-100 section">
            <div class="container h-100">
                <div class="row justify-content-sm-center h-100">
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                        <div class="text-center my-5">
                            <img src="../assets/images/jp-icon.png" alt="logo" width="100">
                        </div>
                        <div class="card shadow-lg">
                            <div class="card-body p-5">
                                <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
                                <form (ngSubmit)="userLogin()" class="needs-validation" novalidate="" autocomplete="off" [formGroup]="loginForm">
                                    <div class="mb-3">
                                        <label class="mb-2 text-muted" for="email">Usuario</label>
                                        <input id="email" type="email" class="form-control" name="email" value="" formControlName="userId" required autofocus [(ngModel)]="user.userId">
                                        <div class="invalid-feedback">
                                            Email is invalid
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="mb-2 w-100">
                                            <label class="text-muted" for="password">Contraseña</label>
                                            <!--<a href="forgot.html" class="float-end">
                                                Forgot Password?
                                            </a>-->
                                        </div>
                                        <input id="password" type="password" class="form-control" formControlName="password" name="password" required [(ngModel)]="user.password">
                                        <div class="invalid-feedback">
                                            Password is required
                                        </div>
                                    </div>
                                    <div class="mb-3" *ngIf="error">
                                        <label class="text-danger">El correo o la contraseña son incorrectos</label>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!--<div class="form-check">
                                            <input type="checkbox" name="remember" id="remember" class="form-check-input">
                                            <label for="remember" class="form-check-label">Remember Me</label>
                                        </div>-->
                                        <button type="submit" class="btn btn-primary ms-auto" [disabled]="loginForm.valid ? false : true">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <div class="spinner-border text-light text-center me-2" role="status" *ngIf="loading">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                <span>Login</span>
                                            </div>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="text-center my-5">
                            <button type="submit" class="btn btn-info ms-auto" (click)="goToHome()">Volver al home</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>