<!--Right side-->
<div class="right col-lg-8 col-12">
    <section class="section mb-4">
        <div class="card shadow-sm rounded p-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
                Crear Estudio
            </button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id Study</th>
                            <th scope="col">Title</th>
                            <th scope="col">Institute Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of studies">
                            <th scope="row">{{ i.idStudy }}</th>
                            <td>{{ i.title }}</td>
                            <td>{{ i.instituteName }}</td>
                            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal" (click)="setUpdateFormValues(i)">Update</button></td>
                            <td><button type="button" class="btn btn-primary" (click)="deleteStudy(i.idStudy!)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Create Project Modal -->
            <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="createModalLabel">Crear nuevo proyecto</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <form action="" [formGroup]="studyForm">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Id Study" aria-label="idStudy" aria-describedby="basic-addon1" formControlName="idStudy">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Title" aria-label="title" aria-describedby="basic-addon1" formControlName="title">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Insitute name" aria-label="instituteName" aria-describedby="basic-addon1" formControlName="instituteName">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="createStudy()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Update Project Modal -->
            <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="updateModalLabel">Actualizar proyecto existente</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <form action="" [formGroup]="updateStudyForm">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Id Study" aria-label="idStudy" aria-describedby="basic-addon1" formControlName="idStudy">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Title" aria-label="title" aria-describedby="basic-addon1" formControlName="title">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Insitute name" aria-label="instituteName" aria-describedby="basic-addon1" formControlName="instituteName">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="updateStudy()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>