<!-- Header -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="../assets/images/jp-icon.png" height="40" width="40"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sobre mi
              </a>
              <ul class="dropdown-menu go-to" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#presentacion">Presentación</a></li>
                <li><a class="dropdown-item" href="#estudios">Estudios</a></li>
                <li><a class="dropdown-item" href="#conocimientos">Conocimientos</a></li>
                <li><a class="dropdown-item" href="#experiencia">Experiencia</a></li>
                <li><a class="dropdown-item" href="#ingles">Nivel de inglés</a></li>
                <li><a class="dropdown-item" href="#contactar">Contacto</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mis proyectos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#proyecto_tiempo_argentina">Tiempo Argentina</a></li>
                <li><a class="dropdown-item" href="#proyecto_matanga">Matanga!</a></li>
                <li><a class="dropdown-item" href="#proyecto_saltarina">Saltarina</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="https://github.com/Furyko" target="_blank">Mis repositorios</a></li>
                <li><a class="dropdown-item" href="https://github.com/Furyko/portfolio" target="_blank">Repositorio de este portfolio</a></li>
              </ul>
            </li>
            <li class="nav-item go-to">
              <a class="nav-link" href="#contactar">Contáctame</a>
            </li>
            <li>
                <a routerLink="/login" class="btn btn-info ms-2">Iniciar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
  <!-- Body -->
  <div class="container mt-5">
    <div class="row">
      <!--Left side-->
      <!--Profile-->
      <div class="left col-lg-4 col-12">
        <aside class="aside section mb-4">
          <div class="card shadow-sm rounded">
            <div class="content pt-2 ps-4 pe-4 pb-2">
              <div class="item text-center">
                <img class="profile-image img-fluid rounded-circle mb-2 shadow-sm" src="../assets/images/profile_picture.png" width="180" height="180">
                <h4>Pedro Julian Palavecino</h4>
                <h6>Desarrollador Front-End</h6>
              </div>
            </div>
          </div>
        </aside>
        <!--About me-->
        <aside class="aside section mb-4">
          <div class="card shadow-sm rounded">
            <div class="content p-4">
              <div class="mb-3" style="border-bottom: 2px solid black;">
                <h4>Sobre mí</h4>
              </div>
              <div class="info-container">
                <div class="info-title" id="presentacion">
                  <h4 class="title">Presentación</h4>
                  <p>🧑 Soy estudiante de programación. Actualmente me capacito en la tercera etapa del <a href="https://empleo.chaco.gob.ar/informatorio#/" target="_blank">Informatorio de Chaco</a>: "Especialización en Tecnologías de Desarrollo".</p>
                  <p>👨‍💻 Me especializo en el área de Front-End, aunque también cuento con conocimiento en Back-End. Disfruto viendo cómo un software va cobrando forma, y pensando cómo puedo mejorarlo.</p>
                  <p>💻 Busco trabajar en una empresa en la que pueda crecer como desarrollador ganando experiencia, conocimiento, y habilidades.</p>
                </div>
                <app-study></app-study>
                <app-knowledge></app-knowledge>
                <app-experience></app-experience>
                <div class="info-title" id="ingles">
                  <h4 class="title">Nivel de inglés</h4>
                  <p>Upper Intermediate (B2)</p>
                  <a href="https://efset.org/cert/323PqJ" target="_blank"><button class="btn btn-credential mt-1">Credencial</button></a>
                </div>
                <app-contact></app-contact>
              </div>
            </div>
          </div>
        </aside>
      </div>
      <!--Right side-->
      <div class="right col-lg-8 col-12">
        <!-- Main projects -->
        <app-project></app-project>
        <!-- Seccondary projects -->
        <app-extra-project></app-extra-project>
      </div>
    </div>
</div>
  
<!-- Footer -->
<footer class="footer mt-4">
    <p>
        Developed and designed by Julian Palavecino.
    </p>
</footer>
  
<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" 
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" 
    crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
    crossorigin="anonymous">
</script>
<script src="../assets/js/scripts.js"></script>